@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
}

.product {
    width: 100%;
}

.product .row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .row .col {
    width: 25%;
}

.product .row .col img {
    width: 100%;
}